---
import Card from "@components/Card.astro";

interface AboutProps {
    github: {
        label: string;
        icon: string;
        link: string;
        username: string;
    };
    linkedin: {
        label: string;
        icon: string;
        link: string;
        username: string;
    };
}

const { github, linkedin } = Astro.props as AboutProps;
---

<section id="socials" class="max-w-4xl mx-auto py-5">
    <article class="flex flex-col gap-6">
        <h2 class="text-3xl font-bold text-white">Socials</h2>
    </article>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5 py-5">
        <Card label={linkedin.label} username={linkedin.username}
            link={linkedin.link} icon={linkedin.icon} />

        <Card label={github.label} username={github.username}
            link={github.link} icon={github.icon} />
    </div>
</section>
